/*/styles lp3&4 html doc/*/
body { margin: 0px; padding: 0px; font-family:"Arial"; overflow-x:hidden; }
img { position: absolute; display: block; margin: 0px; border: none; padding: 0px; }
div { position: absolute; }
#content-container { display: block; position: relative; width: 1440px;  margin-left: auto; margin-right: auto;  }
#content-container > div{ position: relative; top:inherit; }


#page_landing_page_1_ek1 {
	top: 0px;
	left: 0px;
	width: 1440px;
	height: 1024px;
}
#page_landing_page_3_ek1 {
	top: 0px;
	left: 0px;
	width: 1440px;
	height: 1024px;
}

#_bg__landing_page_3_ek2 {
	top: 0px;
	left: 0px;
	width: 1440px;
	height: 1024px;
	background:rgba(232.69,232.69,232.69,1);
}

/*/styles the police line-up img/*/
#img_20210413131909_1 {
	top: 0px;
	left: 0px;
	width: 678px;
	height: 452px;
}

/*/styles the green march img/*/
#_2805c40095c2fb2c_1 {
	top: 452px;
	left: 0px;
	width: 678px;
	height: 572px;
}
/*/styles the inspection img/*/
#rclpmhejqdw05eca3247c4d46_1 {
	top: 565px;
	left: 678px;
	width: 762px;
	height: 459px;
}
/*/styles the matiang'i award img/*/
#matiangi_1 {
	top: 0px;
	left: 678px;
	width: 762px;
	height: 565px;
}
/*/creates the dark render layer for the lp3/*/
#yellow_layer {
	position: absolute;
	width: 1440px;
	height: 1024px;
	left: 0px;
	top: 0px;
	
	background: linear-gradient(180deg, rgba(97, 93, 93, 0.475309) 0%, rgba(100, 97, 97, 0) 48.96%, #5E5959 95.31%);
	mix-blend-mode: darken;
}
/*/styles the shady box lp3/*/
#rectangle_2 {
	top: 73px;
	left: 167px;
	width: 1188px;
	height: 284px;
	-ms-border-radius: 20px;
	-o-border-radius: 20px;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	border-radius: 20px;
	background:rgba(255,255,255,0);
	position: absolute;
	width: 1188px;
	height: 284px;
	left: 167px;
	top: 73px;
	
	background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
	border-radius: 20px;
}
/*/styles the second shady box lp3/*/
#rectangle_3 {
	top: 528px;
	left: 167px;
	width: 1204px;
	height: 400px;
	-ms-border-radius: 20px;
	-o-border-radius: 20px;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	border-radius: 20px;
	background:rgba(255,255,255,0);
	position: absolute;
	width: 1204px;
	height: 400px;
	left: 167px;
	top: 528px;
	
	background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
	border-radius: 20px;
}

/*/styles the first paragraph lp3/*/
#p1 {
	position: absolute;
	width: 886px;
	height: 198px;
	left: 327px;
	top: 103px;
	
	font-family: Nokora;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	line-height: 33px;
	text-align: center;
	
	color: #FFFFFF;
	
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/*/styles the second paragraph lp3/*/
#p2 {
	position: absolute;
	width: 992px;
	height: 264px;
	left: 265px;
	top: 640px;
	
	font-family: Nokora;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	line-height: 33px;
	text-align: center;
	
	color: #FFFFFF;
	
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#page_landin_page_4_ek1 {
	top: 0px;
	left: 0px;
	width: 1440px;
	height: 1024px;
}

#_bg__landin_page_4_ek2 {
	top: 0px;
	left: 0px;
	width: 1440px;
	height: 1024px;
	background:rgba(255,255,255,1);
}


#ap_1 {
	top: 0px;
	left: 0px;
	width: 1440px;
	height: 1024px;
}
