/*/styles lp3&4 html doc/*/
body { margin: 0px; padding: 0px; font-family:"Arial"; overflow-x:hidden; }
img { position: absolute; display: block; margin: 0px; border: none; padding: 0px; }
div { position: absolute; }
#content-container { display: block; position: relative; width: 1440px;  margin-left: auto; margin-right: auto;  }
#content-container > div{ position: relative; top:inherit; }


#page_landing_page_1_ek1 {
	top: 0px;
	left: 0px;
	width: 1440px;
	height: 1024px;
}


#_bg__landing_page_1_ek2 {
	top: 0px;
	left: 0px;
	width: 1440px;
	height: 1024px;
	background:rgba(232.69,232.69,232.69,1);
}


#police_minds_matter {
	top: 31px;
	left: 352px;
	width: 773px;
	height: 130px;
	overflow: hidden;
	font-family: Nokora;
	font-size: 64px;
	font-weight: bold;
	text-align: left;
	-ms-text-shadow:0px 4px 4px rgba(0,0,0,0.25);
	-o-text-shadow:0px 4px 4px rgba(0,0,0,0.25);
	-webkit-text-shadow:0px 4px 4px rgba(0,0,0,0.25);
	-moz-text-shadow:0px 4px 4px rgba(0,0,0,0.25);
	text-shadow:0px 4px 4px rgba(0,0,0,0.25);
	color:#636962;
}


#suicide1_1 {
	top: 614px;
	left: 37px;
	width: 446px;
	height: 325px;
}


#nps_logo {
	top: 29px;
	left: 1280px;
	width: 99px;
	height: 82px;
}

#cop_hat {
	top: 18px;
	left: 134px;
	width: 155px;
	height: 93.25px;
}

#cop_hat_ek1 {
	top: 0px;
	left: 0px;
	width: 155px;
	height: 93px;
}


#p_m_m {
	top: 63px;
	left: 87px;
	width: 63px;
	height: 29px;
	overflow: hidden;
	font-family: Oxanium;
	font-size: 10px;
	text-align: left;
	color:#404040;
}


#harambee_logo {
	top: 49px;
	left: 50px;
	width: 66px;
	height: 62px;
}


#line_1 {
	top: 203px;
	left: 0px;
	width: 1440px;
	height: 1px;
	background:#000000;
}

#quick_info {
	top: 264px;
	left: 1042px;
	width: 398px;
	height: 187px;
}

#line_2 {
	top: 47px;
	left: 0px;
	width: 398px;
	height: 1px;
	background:#000000;
}


#quick_info_ek1 {
	top: 0px;
	left: 0px;
	width: 177px;
	height: 61px;
	overflow: hidden;
	font-family: Nokora;
	font-size: 30px;
	font-weight: bold;
	text-align: left;
	color:#CE1F1F;
}


#g_h_r_i_s {
	top: 67px;
	left: 276px;
	width: 74px;
	height: 30.5px;
	overflow: hidden;
	font-family: Nokora;
	font-size: 15px;
	text-decoration: underline;
	text-align: left;
	color:#000000;
}


#kenya_police_sacco {
	top: 87px;
	left: 204px;
	width: 146px;
	height: 30.5px;
	overflow: hidden;
	font-family: Nokora;
	font-size: 15px;
	text-decoration: underline;
	text-align: left;
	color:#000000;
}


#harambee_sacco_society {
	top: 107px;
	left: 165px;
	width: 185px;
	height: 30.5px;
	overflow: hidden;
	font-family: Nokora;
	font-size: 15px;
	text-decoration: underline;
	text-align: left;
	color:#000000;
}


#ecitizen {
	top: 127px;
	left: 281px;
	width: 69px;
	height: 30.5px;
	overflow: hidden;
	font-family: Nokora;
	font-size: 15px;
	text-decoration: underline;
	text-align: left;
	color:#000000;
}


#huduma_kenya {
	top: 147px;
	left: 228px;
	width: 122px;
	height: 30.5px;
	overflow: hidden;
	font-family: Nokora;
	font-size: 15px;
	text-decoration: underline;
	text-align: left;
	color:#000000;
}


#kps_staff_mail {
	top: 167px;
	left: 245px;
	width: 110px;
	height: 30.5px;
	overflow: hidden;
	font-family: Nokora;
	font-size: 15px;
	text-decoration: underline;
	text-align: left;
	color:#000000;
}


#police_minds_matter_ek1 {
	top: 290px;
	left: 58px;
	width: 424px;
	height: 81px;
	overflow: hidden;
	font-family: Nokora;
	font-size: 40px;
	font-weight: bold;
	text-align: left;
	color:#000000;
}

#intro {
	top: 343px;
	left: 58px;
	width: 884.06px;
	height: 184px;
}
#intro_ek1 {
	top: 0px;
	left: 0px;
	width: 871px;
	height: 184px;
}

#intro_box {
	top: 0px;
	left: 0px;
	width: 871px;
	height: 184px;
	background:rgba(223.13,218.48,218.48,1);
}


#police_minds_matter_is_a_forum_created_for_the_sensitization_as_an_adaptation_of_healing_the_uniform_and_kumekucha_for_the_kenyan_national_police_service__nps__and_other_security_actors__p_m_m_is_an_expansion_of_both_for_not_only_perceiving_the_cycles_of_violence__trauma__resilience_and_healing_but_also_providing_a_networking_and_sharing_community_for_individual_officers_in_regards_to_their_everyday_life_both_outside_and_in_the_line_of_duty__where_they_can_all_air_their_concerns__share_their_stories_under_the_sole_quality_of_equity_ {
	top: 20px;
	left: 18px;
	width: 880px;
	height: 157px;
	overflow: hidden;
	font-family: Nokora;
	font-size: 18px;
	text-align: left;
	color:#000000;
}

#intro_ek2 {
	top: 643px;
	left: 526px;
	width: 884.06px;
	height: 184px;
}
#intro_ek3 {
	top: 0px;
	left: 0px;
	width: 884px;
	height: 184px;
}

#intro_box_ek1 {
	top: 0px;
	left: 0px;
	width: 884px;
	height: 184px;
	background:rgba(223.13,218.48,218.48,1);
}


#the_news_about_police_suicides__attacks_by_police_officers_on_colleagues_and_family_members_are_on_the_rise_within_our_police_force__with_their_line_of_work_being_mostly_dangerous_and_stressful__something_that_is_considered_conventional_within_the_work_force__compared_to_other_professions__their_lives_are_often_endagered_not_to_mention_they_respond_to_every_suicide__every_murder_and_every_fatal_or_freak_accident__contestably__they_are_exposed_to_more_death_and_trauma_than_even_our_armed_forces_ {
	top: 20px;
	left: 18px;
	width: 880px;
	height: 157px;
	overflow: hidden;
	font-family: Nokora;
	font-size: 18px;
	text-align: left;
	color:#000000;
}


#angry_policeman_police_officer_cartoon_2ae1t3j_1 {
	top: 857px;
	left: 1121px;
	width: 230px;
	height: 163px;
}

#nav_bar {
	top: 131px;
	left: 83px;
	width: 1296px;
	height: 52px;
}

#home_bar {
	top: 1px;
	left: 0px;
	width: 158px;
	height: 50px;
	-ms-border-radius: 35px;
	-o-border-radius: 35px;
	-moz-border-radius: 35px;
	-webkit-border-radius: 35px;
	border-radius: 35px;
	background:rgba(64.07,50.46,147.69,1);
}


#home {
	top: 14px;
	left: 51px;
	width: 68px;
	height: 37px;
	overflow: hidden;
	font-family: Nokora;
	font-size: 18px;
	font-weight: bold;
	text-align: left;
	color:#FFFFFF;
}


#our_approach_bar {
	top: 0px;
	left: 177px;
	width: 158px;
	height: 50px;
	-ms-border-radius: 35px;
	-o-border-radius: 35px;
	-moz-border-radius: 35px;
	-webkit-border-radius: 35px;
	border-radius: 35px;
	background:rgba(64.07,50.46,147.69,1);
}


#our_approach {
	top: 14px;
	left: 193px;
	width: 140px;
	height: 37px;
	overflow: hidden;
	font-family: Nokora;
	font-size: 18px;
	font-weight: bold;
	text-align: left;
	color:#FFFFFF;
}


#our_programs_bar {
	top: 0px;
	left: 354px;
	width: 158px;
	height: 50px;
	-ms-border-radius: 35px;
	-o-border-radius: 35px;
	-moz-border-radius: 35px;
	-webkit-border-radius: 35px;
	border-radius: 35px;
	background:rgba(64.07,50.46,147.69,1);
}


#our_programs {
	top: 13px;
	left: 370px;
	width: 140px;
	height: 37px;
	overflow: hidden;
	font-family: Nokora;
	font-size: 18px;
	font-weight: bold;
	text-align: left;
	color:#FFFFFF;
}


#stories_bar {
	top: 1px;
	left: 531px;
	width: 158px;
	height: 50px;
	-ms-border-radius: 35px;
	-o-border-radius: 35px;
	-moz-border-radius: 35px;
	-webkit-border-radius: 35px;
	border-radius: 35px;
	background:rgba(64.07,50.46,147.69,1);
}


#stories {
	top: 14px;
	left: 578px;
	width: 77px;
	height: 37px;
	overflow: hidden;
	font-family: Nokora;
	font-size: 18px;
	font-weight: bold;
	text-align: left;
	color:#FFFFFF;
}


#our_team_bar {
	top: 2px;
	left: 708px;
	width: 158px;
	height: 50px;
	-ms-border-radius: 35px;
	-o-border-radius: 35px;
	-moz-border-radius: 35px;
	-webkit-border-radius: 35px;
	border-radius: 35px;
	background:rgba(64.07,50.46,147.69,1);
}


#our_team {
	top: 15px;
	left: 740px;
	width: 102px;
	height: 37px;
	overflow: hidden;
	font-family: Nokora;
	font-size: 18px;
	font-weight: bold;
	text-align: left;
	color:#FFFFFF;
}


#resources_bar {
	top: 1px;
	left: 885px;
	width: 158px;
	height: 50px;
	-ms-border-radius: 35px;
	-o-border-radius: 35px;
	-moz-border-radius: 35px;
	-webkit-border-radius: 35px;
	border-radius: 35px;
	background:rgba(64.07,50.46,147.69,1);
}


#resources {
	top: 14px;
	left: 917px;
	width: 106px;
	height: 37px;
	overflow: hidden;
	font-family: Nokora;
	font-size: 18px;
	font-weight: bold;
	text-align: left;
	color:#FFFFFF;
}


#gallery_bar {
	top: 0px;
	left: 1062px;
	width: 158px;
	height: 50px;
	-ms-border-radius: 35px;
	-o-border-radius: 35px;
	-moz-border-radius: 35px;
	-webkit-border-radius: 35px;
	border-radius: 35px;
	background:rgba(64.07,50.46,147.69,1);
}


#gallery {
	top: 15px;
	left: 1109px;
	width: 78px;
	height: 37px;
	overflow: hidden;
	font-family: Nokora;
	font-size: 18px;
	font-weight: bold;
	text-align: left;
	color:#FFFFFF;
}


#contact_us {
	top: 2px;
	left: 1255px;
	width: 41px;
	height: 42px;
}

#desktop___5 {
	top: 0px;
	left: 0px;
	width: 1440px;
	height: 1024px;
}
#group_1 {
	top: 217px;
	left: 1310px;
	width: 114px;
	height: 26px;
}

#rectangle_4 {
	top: 0px;
	left: 0px;
	width: 114px;
	height: 26px;
	-ms-border-radius: 20px;
	-o-border-radius: 20px;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	border-radius: 20px;
	background:rgba(196,196,196,1);
}


#nps_signup {
	top: 6px;
	left: 10px;
	width: 99px;
	height: 30.5px;
	overflow: hidden;
	font-family: Nokora;
	font-size: 15px;
	font-weight: bold;
	text-decoration: underline;
	text-align: center;
	color:#000000;
}

#page_landing_page_2_ek1 {
	top: 0px;
	left: 0px;
	width: 1440px;
	height: 1024px;
}

#_bg__landing_page_2_ek2 {
	top: 0px;
	left: 0px;
	width: 1440px;
	height: 1024px;
	background:#;
	background: -webkit-linear-gradient(-90deg , rgba(0,0,0,0) 0%, rgba(132.81,132.81,132.81,1) 100%);
	background: -o-linear-gradient(-90deg , rgba(0,0,0,0) 0%, rgba(132.81,132.81,132.81,1) 100%);
	background: -moz-linear-gradient(-90deg , rgba(0,0,0,0) 0%, rgba(132.81,132.81,132.81,1) 100%);
	background: -ms-linear-gradient(-90deg , rgba(0,0,0,0) 0%, rgba(132.81,132.81,132.81,1) 100%);
	background: linear-gradient(-90deg , rgba(0,0,0,0) 0%, rgba(132.81,132.81,132.81,1) 100%);
}

#intro_ek4 {
	top: 166px;
	left: 37px;
	width: 896px;
	height: 164px;
}
#intro_ek5 {
	top: 0px;
	left: 0px;
	width: 896px;
	height: 164px;
}

#intro_box_ek2 {
	top: 0px;
	left: 0px;
	width: 896px;
	height: 164px;
	background:rgba(223,218,218,1);
}


#the_news_about_police_suicides__attacks_by_police_officers_on_colleagues_and_family_members_are_on_the_rise_within_our_police_force__with_their_line_of_work_being_mostly_dangerous_and_stressful__something_that_is_considered_conventional_within_the_work_force__compared_to_other_professions__their_lives_are_often_endagered_not_to_mention_they_respond_to_every_suicide__every_murder_and_every_fatal_or_freak_accident__contestably__they_are_exposed_to_more_death_and_trauma_than_even_our_armed_forces__ek1 {
	top: 20px;
	left: 19px;
	width: 891.27px;
	height: 157px;
	overflow: hidden;
	font-family: Nokora;
	font-size: 18px;
	text-align: left;
	color:#000000;
}

#intro_ek6 {
	top: 597px;
	left: 512px;
	width: 896px;
	height: 164px;
}
#intro_ek7 {
	top: 0px;
	left: 0px;
	width: 896px;
	height: 164px;
}

#intro_box_ek3 {
	top: 0px;
	left: 0px;
	width: 896px;
	height: 164px;
	background:rgba(223,218,218,1);
}


#the_news_about_police_suicides__attacks_by_police_officers_on_colleagues_and_family_members_are_on_the_rise_within_our_police_force__with_their_line_of_work_being_mostly_dangerous_and_stressful__something_that_is_considered_conventional_within_the_work_force__compared_to_other_professions__their_lives_are_often_endagered_not_to_mention_they_respond_to_every_suicide__every_murder_and_every_fatal_or_freak_accident__contestably__they_are_exposed_to_more_death_and_trauma_than_even_our_armed_forces__ek2 {
	top: 20px;
	left: 19px;
	width: 891.27px;
	height: 157px;
	overflow: hidden;
	font-family: Nokora;
	font-size: 18px;
	text-align: left;
	color:#000000;
}

#desktop___6 {
	top: 0px;
	left: 0px;
	width: 1440px;
	height: 1024px;
}

#flag_kenya_police_cartoon_with_character_happy_vector_27870500_1 {
width: 177px;
height: 154px;
left: 19px;
top: 0px;
}


#eleven_bullet_1_370x247_1 {
	top: 23px;
	left: 873px;
	width: 626px;
	height: 418px;
}


#picture32_1 {
	top: 457px;
	left: 19px;
	width: 413px;
	height: 326px;
}

#page_landing_page_3_ek1 {
	top: 0px;
	left: 0px;
	width: 1440px;
	height: 1024px;
}

#_bg__landing_page_3_ek2 {
	top: 0px;
	left: 0px;
	width: 1440px;
	height: 1024px;
	background:rgba(232.69,232.69,232.69,1);
}

/*/styles the police line-up img/*/
#img_20210413131909_1 {
	top: 0px;
	left: 0px;
	width: 678px;
	height: 452px;
}

/*/styles the green march img/*/
#_2805c40095c2fb2c_1 {
	top: 452px;
	left: 0px;
	width: 678px;
	height: 572px;
}

/*/styles the inspection img/*/
#rclpmhejqdw05eca3247c4d46_1 {
	top: 565px;
	left: 678px;
	width: 762px;
	height: 459px;
}

/*/styles the matiang'i award img/*/
#matiangi_1 {
	top: 0px;
	left: 678px;
	width: 762px;
	height: 565px;
}
/*/creates the dark render layer for the lp3/*/
#yellow_layer {
	position: absolute;
	width: 1440px;
	height: 1024px;
	left: 0px;
	top: 0px;
	
	background: linear-gradient(180deg, rgba(97, 93, 93, 0.475309) 0%, rgba(100, 97, 97, 0) 48.96%, #5E5959 95.31%);
	mix-blend-mode: darken;
}
/*/styles the shady box lp3/*/
#rectangle_2 {
	top: 73px;
	left: 167px;
	width: 1188px;
	height: 284px;
	-ms-border-radius: 20px;
	-o-border-radius: 20px;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	border-radius: 20px;
	background:rgba(255,255,255,0);
	position: absolute;
	width: 1188px;
	height: 284px;
	left: 167px;
	top: 73px;
	
	background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
	border-radius: 20px;
}

/*/styles the second shady box lp3/*/
#rectangle_3 {
	top: 528px;
	left: 167px;
	width: 1204px;
	height: 400px;
	-ms-border-radius: 20px;
	-o-border-radius: 20px;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	border-radius: 20px;
	background:rgba(255,255,255,0);
	position: absolute;
	width: 1204px;
	height: 400px;
	left: 167px;
	top: 528px;
	
	background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
	border-radius: 20px;
}

/*/styles the first paragraph lp3/*/
#p1 {
	position: absolute;
	width: 886px;
	height: 198px;
	left: 327px;
	top: 103px;
	
	font-family: Nokora;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	line-height: 33px;
	text-align: center;
	
	color: #FFFFFF;
	
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/*/styles the second paragraph lp3/*/
#p2 {
	position: absolute;
	width: 992px;
	height: 264px;
	left: 265px;
	top: 640px;
	
	font-family: Nokora;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	line-height: 33px;
	text-align: center;
	
	color: #FFFFFF;
	
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#page_landin_page_4_ek1 {
	top: 0px;
	left: 0px;
	width: 1440px;
	height: 1024px;
}

#_bg__landin_page_4_ek2 {
	top: 0px;
	left: 0px;
	width: 1440px;
	height: 1024px;
	background:rgba(255,255,255,1);
}


#ap_1 {
	top: 0px;
	left: 0px;
	width: 1440px;
	height: 1024px;
}

/*/styles the shady box lp4/*/
#rectangle_1 {
	position: absolute;
	width: 1240px;
	height: 380px;
	left: 72px;
	top: 256px;
	
	background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
	mix-blend-mode: darken;
	border-radius: 20px;
}


#donate {
	overflow: hidden;
	font-family: Nokora;
	font-size: 25px;
	text-align: left;
	color:#FFFFFF;
	position: absolute;
    width: 226px;
    height: 33px;
    left: 538px;
    top: 422px;
}


#volunteer {
	top: 342px;
	left: 538px;
	width: 133px;
	height: 50.5px;
	overflow: hidden;
	font-family: Nokora;
	font-size: 25px;
	text-align: left;
	color:#FFFFFF;
}

/*/styles the chat icon lp4/*/
#_0276e7e10311f0f161c5c38a2d7b8008_1 {
	position: absolute;
	width: 30px;
	height: 30px;
	left: 1117px;
	top: 477px;
	
	background: url(https://user-images.githubusercontent.com/86789832/127865257-a5383d18-3243-4083-9cb7-71e4f79cf1a8.png);
	border-radius: 50px;
}


#a_new_leaf_for_our_officers_nation_wide {
	top: 342px;
	left: 98px;
	width: 321px;
	height: 83.5px;
	overflow: hidden;
	font-family: Nokora;
	font-size: 25px;
	text-align: left;
	color:#FFFFFF;
}


#leave_us_a_message {
	position: absolute;
	width: 140px;
	height: 20px;
	left: 80%;
	top: 482px;
	
	font-family: Nokora;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	line-height: 20px;
	/* identical to box height */
	
	
	color: #FFFFFF;
}


#www_police_mindsmatter_com {
	position: absolute;
	width: 211px;
	height: 20px;
	left: 1086px;
	top: 442px;
	
	font-family: Nokora;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	line-height: 20px;
	/* identical to box height */
	color: #FFFFFF;
	
}


#become_a_member {
	top: 502px;
	left: 538px;
	width: 240px;
	height: 50.5px;
	overflow: hidden;
	font-family: Nokora;
	font-size: 25px;
	text-align: left;
	color:#FFFFFF;
}


#instagram {
	top: 348px;
	left: 59.8%;
	width: 140px;
	height: 50.5px;
	overflow: hidden;
	font-family: Nokora;
	font-size: 25px;
	text-align: left;
	color:#FFFFFF;
}

/*/styles the phone icon lp4/*/
#phone_symbol_icon_white_simple_outline_isolated_vector_illustration_rnj9em_1 {
	position: absolute;
	width: 28.12px;
	height: 30px;
	left: 78%;
	top: 357px;
	
	background: url(https://user-images.githubusercontent.com/86789832/127866080-2a4a19d5-4c65-4c69-882a-c5d839842275.png);
	border-radius: 15px;
}

/*/styles the email icon lp4/*/
#_11_118725_email_icon_circle_hd_png_download_1 {
	position: absolute;
	width: 28.64px;
	height: 30px;
	left: 1046px;
	top: 397px;
	
	background: url(https://user-images.githubusercontent.com/86789832/127865577-789f2ef1-1c29-47cd-a664-a23b097b698d.png);
	border-radius: 50px;
}


#police_mindsmatter_nps_com {
	position: absolute;
	width: 211px;
	height: 20px;
	left: 1086px;
	top: 402px;
	
	font-family: Nokora;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	line-height: 20px;
	color: #FFFFFF;
	/* identical to box height */
	
	
	color: #FFFFFF;
}

/*/styles the link icon lp4/*/
#link_icon_png_0_1 {
	position: absolute;
	width: 30px;
	height: 30px;
	left: 1045px;
	top: 437px;
	
	background: url(https://user-images.githubusercontent.com/86789832/127865461-c9b36e9a-c741-44ae-b4b7-746fe42ca8e1.png);
	mix-blend-mode: darken;
}


#__254717927168 {
	position: absolute;
	width: 108px;
	height: 20px;
	left: 81%;
	top: 362px;
	
	font-family: Nokora;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	line-height: 20px;
	/* identical to box height */
	color: #FFFFFF;	
}


#twitter {
	top: 408px;
	left: 59.8%;
	width: 101px;
	height: 50.5px;
	overflow: hidden;
	font-family: Nokora;
	font-size: 25px;
	text-align: left;
	color:#FFFFFF;
}


#facebook {
	top: 469px;
	left: 59.8%;
	width: 131px;
	height: 50.5px;
	overflow: hidden;
	font-family: Nokora;
	font-size: 25px;
	text-align: left;
	color:#FFFFFF;
}

#footer {
	position: absolute;
	width: 1239.14px;
	height: 48px;
	left: 98px;
	top: 273px;
}

#contact_us_ek1 {
	top: 0px;
	left: 86%;
	width: 213px;
	height: 70.5px;
	overflow: hidden;
	font-family: Nokora;
	font-size: 26px;
	font-weight: bold;
	text-align: left;
	color:#FFFFFF;
}


#ways_to_support_us {
	top: 0px;
	left: 439px;
	width: 365px;
	height: 70.5px;
	overflow: hidden;
	font-family: Nokora;
	font-size: 26px;
	font-weight: bold;
	text-align: left;
	color:#FFFFFF;
}


#police_minds_matter_ek2 {
	top: 0px;
	left: 0px;
	width: 350px;
	height: 24px;
	font-family: Nokora;
	font-size: 26px;
	font-weight: bold;
	text-align: left;
	color:#FFFFFF;
	line-height: 34px;
}


#join_us_online {
	top: 0px;
	left: 62%;
	width: 268px;
	height: 70.5px;
	overflow: hidden;
	font-family: Nokora;
	font-size: 26px;
	font-weight: bold;
	text-align: left;
	color:#FFFFFF;


}

/*/line id's define line styling/*/
#line_3 {
	top: 39px;
	left: 5px;
	width: 230px;
	height: 1px;
	background:#FFFFFF;
}


#line_4 {
	top: 39px;
	left: 86%;
	width: 120px;
	height: 1px;
	background:#FFFFFF;
}


#line_5 {
	top: 39px;
	left: 61.5%;
	width: 180px;
	height: 1px;
	background:#FFFFFF;
}


#line_6 {
	top: 39px;
	left: 441px;
	width: 240px;
	height: 1px;
	background:#FFFFFF;
}
/*/creates the linear white rendering lp4/*/
#desktop___7 {
position: absolute;
width: 1440px;
height: 1024px;
left: 0px;
top: 0px;

background: linear-gradient(180deg, rgba(133, 133, 133, 0) 27.08%, #858585 100%);
}
/*/creates the scorched rendering lp4/*/
#black_layer {
	position: absolute;
	width: 1440px;
	height: 1024px;
	left: 0px;
	top: 0px;
	
	background: #B38181;
	mix-blend-mode: darken;
}
/*/styles all a links/*/
a{
	text-decoration: none;
	color: #FFFFFF;
}

